.ad-card {
    font-family: var(--font);
    color: #fff;
    border: 1px solid var(--highlight-bg);
    border-radius: 8px;
    padding: 16px;
    margin-top: 10px;
    max-width: 60vw;
    min-width: 48vw;
}

.ad-card.collapsed {
    max-width: 56.3vw;
    min-width: 56.3vw;
}

.ad-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.ad-card-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ad-title {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.ad-subtitle {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 8px;
    margin-right: 6px;
    border: 1px solid rgba(90, 150, 255, 0.3);
    color: #fff;
    font-size: 14px;
    background-color: #10344eff;
}

.ad-tag {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 8px;
    border: 1px solid var(--highlight-bg2);
    color: #fff;
    font-size: 13px;
    background-color: var(--highlight-bg);
}

/* Controls */
.ad-controls {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 2px;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.ad-input {
    padding: 10px 15px;
    border: 1px solid #2d2829;
    background-color: var(--compo-bg);
    border-radius: 8px;
    color: #fff;
    transition: all 0.2s ease;
    font-size: 13px;
    width: 490px;
}

.ad-input::placeholder {
    color: white;
}

.ad-input:focus {
    outline: none;
}

.ad-label {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #fff;
    font-size: 13px;
    margin-top: 5px;
}

.ad-btn,
.ad-btn-small {
    border-radius: 8px;
    border: 1px solid #10344eff;
    padding: 5px 14px;
    background: #10344eff;
    color: #fff;
    cursor: pointer;
    transition: 0.2s all;
    font-size: 13px;
}

.ad-btn:hover,
.ad-btn-small:hover {
    box-shadow: 0 0 8px #205869;
}

.ad-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.ad-table-wrap {
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 16px;
    border-radius: 8px;
    background: var(--compo-bg);
    box-shadow: inset 0 0 10px rgba(90, 150, 255, 0.1);
    position: relative;
    padding: 0 7px 7px 7px;
    max-height: 79vh;
    min-height: 79vh;
}

.ad-table-wrap.row-selected {
    max-height: 41vh;
    overflow-y: auto;
    overflow-x: auto;
}

.ad-table-wrap {
    max-height: 71.5vh;
    overflow: auto;
    position: relative;
}

.ad-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
}

.ad-table thead th {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: var(--table-thead);
    padding: 12px 16px;
    text-align: left;
}

.ad-table thead {
    /* text-transform: uppercase; */
    color: #fff;
    font-weight: 600;
    z-index: 999;
}

.ad-table thead tr {
    border-radius: 8px;
}

.ad-table tbody {
    background: transparent;
}

.ad-table tbody tr {
    background: transparent;
    border-radius: 8px;
    transition: background 0.2s ease, transform 0.1s ease;
}

.ad-table td {
    padding: 10px 16px;
    vertical-align: middle;
    border-bottom: 1px solid var(--highlight-bg);
}

.ad-table thead th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.ad-table thead th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.ad-table tbody tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.ad-table tbody tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.ad-table-wrap::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.ad-table-wrap::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #3f4445, #181b21);
    border-radius: 4px;
}

.ad-table-wrap::-webkit-scrollbar-track {
    background: rgba(5, 10, 25, 0.8);
}

.ad-chiplist {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.ad-chip {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 8px;
    margin-right: 6px;
    border: 1px solid rgba(90, 150, 255, 0.3);
    color: #fff;
    font-size: 13px;
    background-color: #10344eff;
}

.ad-chip:hover {
    border-color: #5bd4ff;
    box-shadow: 0 0 4px rgba(91, 212, 255, 0.4);
}

.ad-mono {
    font-family: var(--font);
    max-width: 300px;
    overflow-x: scroll;
}

.ad-mono::-webkit-scrollbar {
    display: none;
}

.ad-muted {
    opacity: 0.7;
    text-align: center;
    color: var(--title-color);
}

.ad-ellipsis {
    max-width: 480px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #3f4445, #181b21);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: rgba(5, 10, 25, 0.8);
}

.view-btn {
    padding: 3px 10px;
    width: 80px;
    border: 1px solid var(--title-color);
    border-radius: 6px;
    background: transparent;
    color: var(--title-color);
    transition: all 0.2s ease;
    font-size: 13px;
    cursor: pointer;
}

.no-commands {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad-item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    border: 1px solid var(--highlight-bg);
    border-radius: 8px;
    margin: 3px 7px 7px 0px;
}

.ad-item-row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 16px;
    border: 1px solid #10344eff;
    border-radius: 8px;
    margin: 6px 7px 3px 7px;
    background-color: #305869;
}

.ad-small1 {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.7);
}

.ad-item-name,
.ad-item-value {
    flex: 1;
}

.ad-item-name2 {
    max-width: 380px;
    overflow-x: scroll;
}

.ad-item-name2::-webkit-scrollbar {
    display: none;
}

.ad-item-value {
    text-align: right;
}

.scrollable2 {
    max-height: 90vh;
    overflow-y: scroll;
}

.ad-row-input {
    max-width: 200px !important;
    color: #fff;
    overflow-x: scroll;
}

.ad-row-input::-webkit-scrollbar {
    display: none;
}

/* Edit user */
.ad-input-wrapper1 {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 7px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    margin: 10px;
    max-height: 69.4vh;
    min-height: 69.4vh;
}

.ad-param-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    padding: 8px;
    padding-bottom: 10px;
}

.ad-param-row span {
    font-size: 13.4px;
    font-weight: 600;
    margin-bottom: 7px;
}

.ad-param-row-input {
    background-color: var(--highlight-bg);
    padding: 10px 10px;
    border: 1px solid var(--highlight-bg2);
    color: white;
    border-radius: 8px;
    letter-spacing: 0.5px;
}

.ad-row-input {
    background: #305869;
    border: 1px solid rgba(90, 150, 255, 0.4);
    border-radius: 8px;
    padding: 10px 10px;
    font-size: 13px;
}

.ad-select {
    width: 320px;
    border: 1px solid var(--highlight-bg2);
    border-radius: 6px;
    padding: 10px 10px;
    background-color: var(--highlight-bg) !important;
    color: #dbe9ff;
    transition: all 0.2s ease;
    font-size: 13px;
}

.ad-select:focus {
    outline: none;
    border: 1px solid var(--select-focus);
}

input[type="number"] {
    background-color: var(--highlight-bg);
    border-radius: 8px;
}

.ad-book-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-right: 10px;
}

.ad-book-btn {
    border-radius: 8px;
    border: 1px solid #10344eff;
    padding: 9px 14px;
    color: var(--title-color);
    cursor: pointer;
    transition: 0.2s all;
    font-size: 14px;
    width: 120px;
    background: rgba(50, 90, 96, 0.35);
    color: rgba(255, 255, 255, 0.85);
    font-size: 14px;
    font-weight: 600;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:
        0 10px 22px rgba(0, 0, 0, 0.30),
        0 1px 0 rgba(255, 255, 255, 0.08) inset;
    cursor: pointer;
    margin: 10px 0px;
}

.ad-book-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}


.ad-book-modal-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 14px;
}

.ad-book-modal-title {
    font-weight: 700;
    letter-spacing: .3px;
    color: #fff;
}

.ad-book-modal-body {
    padding: 14px;
}

.ad-tiny-btn {
    padding: 6px 10px;
    font-size: 13px;
    border-radius: 8px;
    font-weight: 300;
    color: #fff;
    background: transparent;
    border: none;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.ad-tiny-btn:hover {
    background: rgba(255, 255, 255, 0.08);
}

.admin-edit {
    position: relative;
    border: 1px solid var(--highlight-bg);
    margin-top: 10px;
    border-radius: 8px;
    min-width: 34.4vw;
    max-width: 21.4vw;
    min-height: 91vh;
}