.up-tabs {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* margin-top: 6px; */
}

.up-tab {
  font-size: 14px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid #102F44;
  border-radius: 8px;
  padding: 6px 13px 8px;
  background-color: transparent;
  min-width:100px;
}

.up-tab.active {
  background: rgba(50, 90, 96, 0.35);
  color: rgba(255, 255, 255, 0.85);
  font-size: 14px;
  font-weight: 500;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow:
    0 10px 22px rgba(0, 0, 0, 0.30),
    0 1px 0 rgba(255, 255, 255, 0.08) inset;
  cursor: pointer;
}