.home-container {
  position: relative;
  width: 100vw;
  height: 100vh; /* Full viewport height */
  /* background: linear-gradient(180deg, #000010 0%, #020230 100%); */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Vertical centering */
  text-align: center;
  overflow: hidden; /* Prevent scroll from content */
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/galaxeye-logo.jpeg') no-repeat center center;
  background-size: cover;
  opacity: 0.1;
  z-index: 1;
  filter: blur(8px);
}

.logo {
  width: 150px;
  height: auto;
  z-index: 2;
  margin-bottom: 20px;
}

.text-container {
  z-index: 2;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 1.8rem;
  color: #a0c4ff;
  margin: 10px 0;
}

.alpha-tag {
  font-size: 1.2rem;
  color: #f77f00;
  margin-top: 20px;
  /* font-family: 'Share Tech Mono', monospace; */
}

.scenario-note {
  font-size: 1rem;
  color: #9aedfe;
  margin-top: 10px;
}

footer {
  margin-top: 40px;
  font-size: 0.9rem;
  color: #ccc;
  font-style: italic;
}
